services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: haitham2001
      POSTGRES_DB: note_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./internal/migrations:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: crud_api
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      DB_DSN: postgres://postgres:haitham2001@db:5432/note_db?sslmode=disable

volumes:
  pgdata:
