name: Deploy with Aramb

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  aramb-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Github tag
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Setup aramb
        uses: aramb-ai/aramb-setup@v0.0.2-beta1

      - name: Build and push
        timeout-minutes: 30
        run: aramb build --tag ${{ steps.vars.outputs.sha_short }}
        env:
          DOCKER_REGISTRY: ghcr.io
          DOCKER_REPOSITORY: ${{ github.repository }}
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          ARAMB_SERVICE_ID: b65f2a0e-0e6d-4996-b0c5-bb1fc77586d0
          ARAMB_API_URL: https://api.clode.space/jumbo
